body{
    margin: auto;
    text-align: center;
    background: #5f5f5f;
}

h1{
    font-family: 'Lobster Two', cursive;
    font-size: 80px;
    margin: 10px auto;
    color: #b2fcff;
}

.playerOne{
    color: #b2fcff;
    display: inline-block;
    margin-right: 70px;
}

.playerTwo{
    color: #b2fcff;
    display: inline-block;
    margin-left: 70px;
}

img{
    width: 250px;
    height: 250px;
}

.myButton {
	box-shadow:inset -8px 3px 17px 4px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:11px 28px;
	text-decoration:none;
	text-shadow:-3px 3px 0px #ffee66;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}
